<h1>My Vision Board</h1>

	<div class="my_visions">
		<%= link_to "Add to Vision Board", new_vision_path %>
		<div class="panel panel-info">
			<% @visions.each do |vision| %>
			  <div class="panel-body">
			    	<h2> <%= link_to vision.title, vision %> </h2>
			  </div>
			  	<%= link_to (image_tag vision.photo.url(:medium)), vision %>
			<% end %>
		</div>
	</div>