<div class="home">


	<h4>Create the life you want.</h4>
	<h4>Envision it, and watch it manifest.</h4>

	<br>
	<br>

	<p>Vision is a modern day vision board that allows users to help clarify, concentrate and maintain focus on specific life goals. It is designed to help you:</p>

	<ul>
		<li>Identify your personal vision and give it clarity</li>
		<li>Reinforce your personal affirmations</li>
		<li>Keep your attention on your goals and intentions</li>
	</ul>
</div>