/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: -webkit-linear-gradient(90deg, #36465d 10%, #336699 90%); /* Chrome 10+, Saf5.1+ */
  	background:    -moz-linear-gradient(90deg, #36465d 10%, #336699 90%); /* FF3.6+ */
  	background:     -ms-linear-gradient(90deg, #36465d 10%, #336699 90%); /* IE10 */
  	background:      -o-linear-gradient(90deg, #36465d 10%, #336699 90%); /* Opera 11.10+ */
  	background:         linear-gradient(90deg, #36465d 10%, #336699 90%);; /* W3C */   
	color: #fff;
}

.field, em {
	color: black;
}

.form-title {
	text-align: center;
}

.dropdown-menu a.icon {
	position: relative;
	padding-left: 40px;
}
.dropdown-menu a.icon .glyphicon {
	top: 6px;
	left: 10px;
	font-size: 18px;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 40px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="email"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

nav {
	background-color: WhiteSmoke;
	.navbar-brand {
		a {
			color: MediumBlue;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.my_visions {
	margin: 0 auto;
	width: 100%;
	.panel {
		margin: 8px;
		background-color: #36465d;
  		display: flex;
  		flex-flow: row wrap;
  		padding: 10px;
  		justify-content: center;
  		// flex: 1 0 25%;
  		// box-sizing: border-box;
  		// padding: 1em;
  		// min-width: 1%;
  		text-align: center;
		img {
			max-width: 100%;
			border-radius: 10px;
			height: auto;
			margin-bottom: 10px;
		}
	}
}

.show-text {
	text-align: center;
}

img {
	border-radius: 10px;
}

.navbar-brand {
	position: relative;
    top: -11px;
    left: -65px;
}